*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Gabarito', sans-serif; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'DM Sans', sans-serif; */
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
    scroll-behavior: smooth;
}

body{
    background-color: #24262b;
}

#hero{
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(furnitureWP-modified.jpg); */
    background-size: cover;
    background-position: center;
    background-color: #DB4437;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='100' stroke-opacity='0.15' %3E%3Ccircle fill='%23DB4437' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23d04036' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c53c35' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ba3834' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23af3433' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23a43031' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23992c30' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%238e282f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2383242e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2379202d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%236e1c2c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2363182b' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2358142a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%234d1028' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23420c27' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23370826' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232c0425' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

/* .homepagecontainer{
    background-color: #F4FDFF;
    margin-top: 12%;
    margin-right: 65%;
    margin-left: 10%;
    border-radius: 15px;
    padding-bottom: 45px;
} */

.homepagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.homesectionleft{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    /* margin-right: 2.5%; */
    width: 50%;
}

.homesectionright{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-left: 2.5%; */
    margin-right: 5%;
    width: 50%;
}

.homepageheader{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 12%;
    font-size: 40px;
    font-weight: bold;
    color: #F4FDFF;
}

.homepagecontent{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-size: 15px;
    font-weight: lighter;
    line-height: 165%;
    color: #F4FDFF;
    opacity: 75%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10%;
    padding-left: 10%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 100000;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    color:#F4FDFF;
    font-size: 28px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #F4FDFF;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

nav ul li a:hover{
    color:#db4437;
    /* text-shadow: 0px 0px 13px #db4437; */
    background-color: #F4FDFF;
    /* border-radius: 5px; */
    /* transition: 0.3s; */
    box-shadow: 0 0 5px #F4FDFF,
                0 0 20px #F4FDFF,
                0 0 60px #F4FDFF,
                0 0 150px #F4FDFF;
}

button{
    border: none;
    background: #db4437;
    padding: 12px 30px;
    border-radius: 5px;
    color: #F4FDFF;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ease;
}

button:hover{
    /* transform: scale(1.3); */
    cursor: pointer;
    box-shadow: 0 0 5px #db4437,
                0 0 20px #db4437,
                0 0 60px #db4437,
                0 0 150px #db4437;
}

.active{
    color:#db4437;
    /* text-shadow: 0px 0px 13px #db4437; */
    background-color: #F4FDFF;
    box-shadow: 0 0 5px #F4FDFF,
                0 0 20px #F4FDFF,
                0 0 60px #F4FDFF,
                0 0 150px #F4FDFF;
}

.explorebutton{
    padding-left: 10%;
    padding-top: 3%;
}

.profpic img{
    padding-top: 7.5%;
    width: 50%;
    height: auto;
}

/* .recc{
    padding-left: 20px;
    text-decoration: none;
    color: #F4FDFF;
    font-weight: bold;
    transition: 0.3s;
}

.recc:hover{
    color: #db4437;
    text-shadow: 0px 0px 13px #db4437;
} */

.socialhome{
    padding-left: 10%;
    
}

.socialhome .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.3s ease;
}

.socialhome .social-links .emaillogo:hover{
    color: #F4FDFF;
    background-color: #db4437;
    box-shadow: 0 0 5px #db4437,
                0 0 20px #db4437,
                0 0 60px #db4437,
                0 0 150px #db4437;
                transform: scale(1.2);
}

.socialhome .social-links .githublogo:hover{
    color: #F4FDFF;
    background-color: #653780;
    box-shadow: 0 0 5px #653780,
                0 0 20px #653780,
                0 0 60px #653780,
                0 0 150px #653780;
                transform: scale(1.2);
}

.socialhome .social-links .instagramlogo:hover{
    color: #F4FDFF;
    background-color: #e4405f;
    box-shadow: 0 0 5px #e4405f,
                0 0 20px #e4405f,
                0 0 60px #e4405f,
                0 0 150px #e4405f;
                transform: scale(1.2);
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

.socialhome .social-links .linkedinlogo:hover{
    color: #F4FDFF;
    background-color: #0072b1;
    box-shadow: 0 0 5px #0072b1,
                0 0 20px #0072b1,
                0 0 60px #0072b1,
                0 0 150px #0072b1;
                transform: scale(1.2);
}

/* about me */
#about{
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(furnitureWP-modified.jpg); */
    background-size: cover;
    background-position: center;
    background-color: #DB4437;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='100' stroke-opacity='0.15' %3E%3Ccircle fill='%23DB4437' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23d04036' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c53c35' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ba3834' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23af3433' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23a43031' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23992c30' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%238e282f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2383242e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2379202d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%236e1c2c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2363182b' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2358142a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%234d1028' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23420c27' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23370826' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232c0425' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    padding: 80px 0;
    padding-right: 10%;
    padding-left: 10%;
}

.aboutcontainer{
    margin-top: 12.5%;
}

.aboutrow{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.aboutcol1{
    flex-basis: 35%;
}

.aboutcol1 img{
    width: 100%;
    border-radius: 15px;
}

.aboutcol2{
    flex-basis: 60%;
}

.aboutcol2 .abouttext{
    font-size: 15px;
    /* color: #aeb0b0; */
    color: #F4FDFF;
    opacity: 75%;
}

.subtitle{
    font-size: 40px;
    font-weight: bold;
    color: #F4FDFF;

}

.tabtitles{
    display: flex;
    margin: 20px 0 40px;
}

.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #F4FDFF;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    /* opacity: 75%; */
    transition: 0.3s ease;
}

.activelinks{
    color:#db4437;
    /* transition: 0.3s; */
    /* text-shadow: 0px 0px 13px #db4437; */
    background-color: #F4FDFF;
    box-shadow: 0 0 5px #F4FDFF,
                0 0 20px #F4FDFF,
                0 0 60px #F4FDFF,
                0 0 150px #F4FDFF;
}

.tablinks::after{
    /* color: #DB4437; */
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    /* transition: 0.5s; */
}

.tablinks.active::after{
    width: 50%;
}

.tabcontents ul li{
    list-style: none;
    margin: 10px 0;
}

.tabcontents ul li span{
    color: #F4FDFF;
    font-size: 14px;
    /* opacity: 75%; */
}

.tabcontents ul li p{
    color: #F4FDFF;
    font-size: 14px;
    opacity: 75%;
}

.tabcontents{
    display: none;
}

.tabcontents.activetabs{
    display: block;
}

/* portfolio */
#portfolio{
    height: 150vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(furnitureWP-modified.jpg); */
    background-size: cover;
    background-position: center;
    background-color: #DB4437;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='100' stroke-opacity='0.15' %3E%3Ccircle fill='%23DB4437' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23d04036' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c53c35' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ba3834' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23af3433' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23a43031' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23992c30' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%238e282f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2383242e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2379202d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%236e1c2c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2363182b' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2358142a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%234d1028' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23420c27' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23370826' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232c0425' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    padding: 80px 0;
    padding-right: 10%;
    padding-left: 10%;
}

.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #DB4437);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.3s;
}

.layer h3{
    font-weight: 900;
    margin-bottom: 20px;
    color: #F4FDFF;
}

.layer p{
    color: #F4FDFF;
    /* opacity: 75%; */
}

.layer a{
    margin-top: 20px;
    color: #DB4437;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #F4FDFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s ease;
}

.layer a i{
    font-size: 24px;
}

.layer a:hover{
    color:#db4437;
    /* text-shadow: 0px 0px 13px #db4437; */
    background-color: #F4FDFF;
    box-shadow: 0 0 5px #F4FDFF,
                0 0 20px #F4FDFF,
                0 0 60px #F4FDFF,
                0 0 150px #F4FDFF;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

/* contact */
#contact{
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(furnitureWP-modified.jpg); */
    background-size: cover;
    background-position: center;
    background-color: #DB4437;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='100' stroke-opacity='0.15' %3E%3Ccircle fill='%23DB4437' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23d04036' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c53c35' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ba3834' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23af3433' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23a43031' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23992c30' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%238e282f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2383242e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2379202d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%236e1c2c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2363182b' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2358142a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%234d1028' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23420c27' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23370826' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232c0425' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    padding: 80px 0;
    padding-right: 10%;
    padding-left: 10%;
}

.socmedlist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.socmed{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.socmed img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}

.socmed:hover img{
    transform: scale(1.1);
}

.socmed:hover .layer{
    height: 100%;
}

/* footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   /* padding: 0 15px; */
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.3s ease;
}
/* .footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
} */
.footer-col .social-links .emaillogo:hover{
    color: #F4FDFF;
    background-color: #db4437;
    box-shadow: 0 0 5px #db4437,
                0 0 20px #db4437,
                0 0 60px #db4437,
                0 0 150px #db4437;
                transform: scale(1.2);
}

.footer-col .social-links .githublogo:hover{
    color: #F4FDFF;
    background-color: #653780;
    box-shadow: 0 0 5px #653780,
                0 0 20px #653780,
                0 0 60px #653780,
                0 0 150px #653780;
                transform: scale(1.2);
}

.footer-col .social-links .instagramlogo:hover{
    color: #F4FDFF;
    background-color: #e4405f;
    box-shadow: 0 0 5px #e4405f,
                0 0 20px #e4405f,
                0 0 60px #e4405f,
                0 0 150px #e4405f;
                transform: scale(1.2);
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

.footer-col .social-links .linkedinlogo:hover{
    color: #F4FDFF;
    background-color: #0072b1;
    box-shadow: 0 0 5px #0072b1,
                0 0 20px #0072b1,
                0 0 60px #0072b1,
                0 0 150px #0072b1;
                transform: scale(1.2);
}

/* scrollbar */
::-webkit-scrollbar{
    display: none;
}

/* ::-webkit-scrollbar-thumb{
    background: #db4437;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: #8f1025;
} */

/* responsive */

@media (max-width: 952px){
    .homesectionright{
        display: none;
    }
}

/* navbar */
.checkbtn{
    font-size: 35px;
    color: #ffffff;
    /* float: right !important;
    line-height: 80px !important;
    margin-right: 40px !important; */
    cursor: pointer;
    display: none;
    padding-left: 30px;
}

@media (max-width: 952px){
    .logo{
        height: 75px;
        width: auto;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    .logo{
        height: 50px;
        width: auto;
    }

    nav{
        background: #24262b;
        /* height: 150px; */
    }

    .navUl{
        padding-top: 125px;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #24262b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
    }

    .navUl.toggleOn{
        left: 0;
    }

    nav ul li{
        display: block;
        padding-top: 37.5px;
        padding-bottom: 37.5px;
        font-size: 25px;
    }

    nav ul li:hover{
        background-size: cover;
        transition: 0.3s;
    }
}

/* hero */
@media (max-width: 952px){
    .homepagecontainer{
        padding-top: 10%;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .homesectionleft{
        margin-left: 0;
    }

    .socialhome{
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .explorebutton{
        padding-left: 0;
    }

    .homepageheader{
        /* padding-right: 10%;
        padding-left: 10%;
        padding-top: 12%; */
        font-size: 40px;
        /* font-weight: 1px; */
        /* color: white; */
    }

    .herobigtext{
        font-size: 35px;
    }
    
    .homepagecontent{
        /* padding-right: 10%;
        padding-left: 10%;
        padding-top: 2%; */
        font-size: 16px;
        /* font-weight: lighter; */
        /* color: white; */
    }

    .textsection{
        margin-top: 10%;
        /* margin-left: 5%; */
        width: 100%;
    }
    .homesectionright{
        display: none;
    }
}

@media (max-width: 456px){
    .explorebutton{
        padding-top: 20%;
        display: flex;
        padding-left: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        /* padding-left: 0; */
        /* padding-right: 0; */
    }

    .homesectionleft{
        margin-left: 0;
    }

    .explorebutton a{
        padding-top: 5%;
    }

    .socialhome{
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .homepageheader{
        /* padding-right: 10%;
        padding-left: 10%;
        padding-top: 12%; */
        font-size: 35px;
        /* font-weight: 1px; */
        /* color: white; */
    }

    .herobigtext{
        font-size: 30px;
    }
    
    .homepagecontent{
        /* padding-right: 10%;
        padding-left: 10%;
        padding-top: 2%; */
        font-size: 12.5px;
        /* font-weight: lighter; */
        /* color: white; */
    }

    .textsection{
        margin-top: 10%;
        /* margin-left: 5%; */
        width: 100%;
    }
    .homesectionright{
        display: none;
    }
}

/* about */
@media (max-width: 952px){
    .aboutcol1{
        display: none;
    }
    .aboutrow{
        justify-content: center;
    }
}

@media (max-width: 456px){
    .aboutcol1{
        display: none;
    }
    .aboutrow{
        justify-content: center;
    }
}

/* portfolio */
@media (max-width: 952px){
    #portfolio{
        height: 275vh;
    }
}

@media (max-width: 456px){
    #portfolio{
        height: 275vh;
    }
}

/* contact */
@media (max-width: 952px){
    #contact{
        height: 180vh;
    }
}

@media (max-width: 456px){
    #contact{
        height: 180vh;
    }
}

/* footer */
.row{
    justify-content: center;
    align-items: center;
    text-align: center;
}